.footer {
  display: flex;
  flex-direction: row;
  background-color: #0e7490; /* cyan-700 */
  padding: 16px 100px; /* py-4 */
  border-top: 20px solid #eca73e; /* border-t-[20px] border-orange-500 */
  justify-content: space-between;
}
.footer div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #25acd2;
}
.footer h2 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer li {
  color: #b2dfdb; /* text-teal-200 */
  cursor: pointer;
  transition: all 0.3s;
}

.footer li:hover {
  color: white;
}
